.modal,
.overlay {
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
}

.overlay {
  background: rgba(49, 49, 49, 0.8);
}
.modal_content {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  line-height: 1.4;
  background: #f1f1f1;
  padding: 14px 28px;
  border-radius: 10px;
  max-width: 600px;
  min-width: 300px;
}

.close_modal {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 5px 7px;
  width: 30px;
  height: 30px;
  cursor: pointer;
}
.close_modal:hover {
  color: red;
}

.content_popup {
  font-weight: 100;
}

.updateBtn_modal {
  margin-top: 20px;
  list-style: none;
}

.messages {
  background-color: rgba(11, 182, 59, 0.99);
  color: #fff;
  width: max-content;
  height: 100px;
  margin-top: 30px;
  display: flex;
  align-items: center;
  border-radius: 10px;
}

.messages ul {
  list-style: none;
  padding-right: 10px;
}
