.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto
}

@media (min-width:576px) {
    .container {
        max-width: 540px
    }
}

@media (min-width:768px) {
    .container {
        max-width: 720px
    }
}

@media (min-width:992px) {
    .container {
        max-width: 960px
    }
}

@media (min-width:1200px) {
    .container {
        max-width: 1200px
    }
}

.searchTicket {
    /* width: 100%; */
    display: flex;
    justify-content: space-between
}


/* .searchTicket select {
    display: none
} */

.searchTicket__item {
    padding: 5px;
    display: flex;
    margin-right: 10px;
    /* width: 22%; */
    /* width: 23%; */
    width: 26%;
    position: relative;
    overflow: hidden
}

.searchTicket__item:hover {
    cursor: pointer
}

.searchTicket__item__left {
    margin-right: 13px
}

.searchTicket__item__right span.searchTicket__item__title {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #646d84;
    margin-bottom: 4px;
    white-space: nowrap;
    text-overflow: ellipsis
}

.searchTicket__item__right h3 {
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #232731
}

.searchTicket__item__right h3.invalid {
    color: #dc3333!important
}

.searchTicket .select2 {
    position: absolute;
    opacity: 0;
    top: 0;
    width: 100%!important;
    height: 100%;
    left: 0
}

.searchTicket .select2 .select2-selection {
    height: 100%
}

.searchTicket .select2-search--dropdown {
    padding: 0!important
}

.searchTicket .select2-search__field {
    padding: 4px!important
}

[data-content=startTime] {
    text-transform: uppercase
}

.ticket_time {
    position: absolute;
    top: 0;
    height: 100%;
    opacity: 0
}

.ticket_date,
.ticket_time {
    border: none;
    padding: 0;
    width: 100%
}

.ticket_date:hover,
.ticket_time:hover {
    cursor: pointer
}

.ticket_date:focus,
.ticket_time:focus {
    outline: 0
}

.datepicker.datepicker-dropdown {
    padding: 10px
}

.datepicker td {
    padding: 5px
}

.bookingPage {
    margin-bottom: 80px
}

.bookingPage__notTrip__wrap {
    height: 50vh;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center
}

.bookingPage :not(i) {
    font-family: var(--main-font)
}

.bookingPage__search__wrap {
    /* background-color: #fff; */
    background-color: #f8f9fa;
    padding: 24px 25px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between
}

.bookingPage__search__triggle a {
    margin-left: 14px;
    font-size: 16px
}

.bookingPage__search__triggle.mobile {
    background-color: #1ECB15;
    padding: 10px 20px;
    text-align: center;
    border-radius: 24px;
    height: 42px;
    width: 100%;
}

.bookingPage__search__triggle.mobile a {
    color: #fff;
}

.bookingPage__search__wrap .searchTicket {
    width: 80%
}

.bookingPage__search__wrap.mobile_wrap {
    flex-wrap: wrap;
}

.bookingPage__search__wrap.mobile_wrap .searchTicket {
    display: block;
    width: 100%;
}

.bookingPage__search__wrap.mobile_wrap .searchTicket .searchTicket__item {
    display: flex;
    position: relative;
    overflow: hidden;
    margin-bottom: 10px;
    width: 100%;
}

.bookingPage__step__wrap {
    display: flex;
    width: 100%;
    justify-content: space-between;
    background: #ecedf1
}

.bookingPage__step__item {
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 34%
}

.bookingPage__step__item span {
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 20px;
    text-align: center;
    color: #646d84
}

.bookingPage__sort__wrap {
    padding-left: 120px;
    display: flex;
    height: 40px;
    align-items: center;
    background: #f1f3f5
}

.bookingPage__sort h3 {
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    color: #000;
    margin-right: 24px
}

.bookingPage__sort p {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #232731;
    margin-right: 40px
}

.bookingPage__sort p:hover {
    cursor: pointer
}

.bookingPage__tickets__wrap {
    background-color: #fff
}

.bookingPage__tickets__item {
    padding: 0 25px;
    position: relative
}

.bookingPage__tickets__item.disable .bookingPage__tickets__item_disable {
    display: flex
}

.bookingPage__tickets__item label.error {
    font-weight: 700;
    margin-bottom: 5px;
    color: #dc3333;
    font-size: 13px;
    white-space: nowrap;
    margin-top: 5px;
    margin-left: calc(30% + 8px)
}

.bookingPage__tickets__item label.error:empty {
    display: none
}

.bookingPage__tickets__item__thumb {
    display: flex;
    flex-wrap: wrap;
    padding: 16px 0;
    border-bottom: 1px solid #f1f3f5;
    justify-content: space-between
}

.bookingPage__tickets__item__thumb:hover {
    cursor: pointer
}

.bookingPage__tickets__item__thumb__time {
    display: flex;
    flex-wrap: wrap;
    margin-right: 10px;
    width: 15%
}

.bookingPage__tickets__item__thumb__time .avicon {
    margin-right: 10px
}

.bookingPage__tickets__item__thumb__time h3 {
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    color: #232731;
    margin-bottom: 2px
}

.bookingPage__tickets__item__thumb__time span {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #646d84
}

.bookingPage__tickets__item__thumb__time .times {
    letter-spacing: 2px;
    padding-left: 10px;
}

.bookingPage__tickets__item__thumb__route {
    display: flex;
    flex-wrap: wrap;
    margin-right: 10px;
    width: 30%
}

.bookingPage__tickets__item__thumb__route>.avicon {
    margin-right: 10px
}

.bookingPage__tickets__item__thumb__route .route h3 {
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    color: #232731;
    margin-bottom: 4px;
    display: inline-flex;
    align-items: center
}

.bookingPage__tickets__item__thumb__route .route h3 .avicon {
    margin: 0 11px
}

.bookingPage__tickets__item__thumb__route .route span {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #646d84;
    display: block
}

.bookingPage__tickets__item__thumb__route .route a {
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: #cb353a
}

.bookingPage__tickets__item__thumb__seat {
    display: flex;
    flex-wrap: wrap;
    margin-right: 10px;
    width: 18%
}

.bookingPage__tickets__item__thumb__seat>.avicon {
    margin-right: 10px
}

.bookingPage__tickets__item__thumb__seat .seat h3 {
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    color: #232731;
    margin-bottom: 4px
}

.bookingPage__tickets__item__thumb__seat .seat span {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #646d84;
    display: block
}

.bookingPage__tickets__item__thumb__seat .seat a {
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: #cb353a
}

.bookingPage__tickets__item__thumb__price {
    margin-top: 5px;
    margin-right: 10px;
    width: 15%
}

.bookingPage__tickets__item__thumb__price span {
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    text-align: right;
    color: #00c48c
}

.bookingPage__tickets__item__thumb__view_button {
    /* margin-top: 15px; */
    text-align: right;
    width: 15%
}

.bookingPage__tickets__item__thumb__view_button a {
    display: inline-block;
    padding: 8px 24px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #ffa000;
    background: #fae8ca;
    border-radius: 4px
}

.bookingPage__tickets__item__collapse {
    width: 100%
}

.bookingPage__tickets__item__collapse__list_point__wrap {
    width: 75%;
    margin: 0 auto
}

.bookingPage__tickets__item__collapse__list_point__wrap .icon-caret-top {
    margin-left: 100px
}

.bookingPage__tickets__item__collapse__list_point {
    margin-top: -9px;
    padding: 16px;
    display: flex;
    flex-wrap: wrap;
    background: #ecedf1;
    border-radius: 4px
}

.bookingPage__tickets__item__collapse__list_point__part {
    width: 50%
}

.bookingPage__tickets__item__collapse__list_point__part ::-webkit-scrollbar {
    width: 4px;
    background: #b0b5c1
}

.bookingPage__tickets__item__collapse__list_point__part ::-webkit-scrollbar-track {
    border-radius: 4px
}

.bookingPage__tickets__item__collapse__list_point__part ::-webkit-scrollbar-thumb {
    background: #464d5d;
    border-radius: 4px
}

.bookingPage__tickets__item__collapse__list_point__part ::-webkit-scrollbar-thumb:hover {
    background: #464d5d
}

.bookingPage__tickets__item__collapse__list-point__part__content {
    max-height: 240px;
    overflow-y: auto
}

.bookingPage__tickets__item__collapse__list_point__part h3 {
    text-transform: uppercase;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #232731;
    margin-bottom: 16px
}

.bookingPage__tickets__item__collapse__list-point__item {
    display: flex;
    padding-left: 40px
}

.bookingPage__tickets__item__collapse__list-point__item .icon-dot {
    display: inline-block;
    width: 8px;
    height: 8px;
    background: #1ECB15;
    border-radius: 50%;
    margin-right: 8px
}

.bookingPage__tickets__item__collapse__list-point__item ul {
    margin-top: -4px;
    width: 100%;
    padding-right: 28px
}

.bookingPage__tickets__item__collapse__list-point__item ul li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 10px
}

.bookingPage__tickets__item__collapse__list-point__item ul li span {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #464d5d
}

.bookingPage__tickets__item__collapse__list-point__item ul li:first-child span {
    color: #232731;
    font-weight: 600
}

.bookingPage__tickets__item__collapse__cancle-ticket__wrap {
    width: 75%;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    margin: 0 auto
}

.bookingPage__tickets__item__collapse__cancle-ticket__wrap .icon-caret-top {
    margin-right: 40%
}

.bookingPage__tickets__item__collapse__cancle-ticket {
    width: 50%;
    padding: 16px 40px;
    background: #ecedf1;
    border-radius: 4px
}

.bookingPage__tickets__item__collapse__cancle-ticket h3 {
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #232731;
    margin-bottom: 16px
}

.bookingPage__tickets__item__collapse__cancle-ticket__content p {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 25px;
    color: #464d5d
}

.bookingPage__tickets__item__collapse__booking {
    background: #ecedf1;
    border-radius: 4px;
    padding: 16px 24px;
    display: flex;
    flex-wrap: wrap
}

.bookingPage__tickets__item__collapse__booking__title {
    border-bottom: 1px solid #cfd3db;
    margin-bottom: 16px
}

.bookingPage__tickets__item__collapse__booking__title h3 {
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 22px;
    color: #000;
    margin-bottom: 8px
}

.bookingPage__tickets__item__collapse__booking__title h3 span {
    margin: 0 11px
}

.bookingPage__tickets__item__collapse__booking__title p {
    font-style: normal;
    font-weight: 600;
    font-size: 19px;
    line-height: 19px;
    color: #646d84;
    margin-bottom: 8px
}

.bookingPage__tickets__item__collapse__booking__seat_map {
    /* width: 100%; */
    width: 65%;
    margin-right: 24px
}

.bookingPage__tickets__item__collapse__booking__seat_map__floor {
    overflow: auto;
    padding: 16px;
    background: #fff;
    border-radius: 4px;
    display: flex;
    margin-bottom: 16px
}

.bookingPage__tickets__item__collapse__booking__seat_map__floor h4 {
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: #232731;
    margin-right: 6px;
    width: 10%;
    padding-top: 3px
}

.bookingPage__tickets__item__collapse__booking__seat_map__floor table {
    width: calc(100% - 10% - 16px)
}

.bookingPage__tickets__item__collapse__booking__seat_map__floor table td {
    padding: 8px 4px
}

.bookingPage__tickets__item__collapse__booking__seat_map__note {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 16px
}

.bookingPage__tickets__item__collapse__booking__seat_map__note__text h3,
.bookingPage__tickets__item__collapse__booking__seat_map__note__text h5,
.bookingPage__tickets__item__collapse__booking__seat_map__note__text p {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #232731
}

.bookingPage__tickets__item__collapse__booking__seat_map__note__text h3 {
    color: #dc3333;
    margin-bottom: 8px
}

.bookingPage__tickets__item__collapse__booking__seat_map__note__text p {
    margin-bottom: 8px
}

.bookingPage__tickets__item__collapse__booking__seat_map__note__text h5 {
    margin-top: 24px
}

.bookingPage__tickets__item__collapse__booking__seat_map__note p {
    width: 33%;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: #232731;
    display: flex;
    align-items: center;
    margin-bottom: 16px
}

.bookingPage__tickets__item__collapse__booking__seat_map__note p span {
    margin-right: 16px
}

.bookingPage__tickets__item__collapse__booking__user {
    width: calc(100% - 68% - 24px)
}

.bookingPage__tickets__item__collapse__booking__user .form_group {
    display: flex;
    flex-wrap: wrap
}

.bookingPage__tickets__item__collapse__booking__user .form_group label {
    width: 30%;
    margin-right: 8px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #464d5d
}

.bookingPage__tickets__item__collapse__booking__user .form_group label.error {
    font-weight: 700;
    margin-bottom: 5px;
    color: #dc3333;
    font-size: 13px;
    white-space: nowrap;
    margin-top: 5px;
    margin-left: calc(30% + 8px)
}

.bookingPage__tickets__item label.error:empty {
    display: none
}

.bookingPage__tickets__item__collapse__booking__user .form_group input[type=number],
.bookingPage__tickets__item__collapse__booking__user .form_group input[type=text],
.bookingPage__tickets__item__collapse__booking__user .form_group textarea {
    width: calc(100% - 8px - 30%);
    height: 40px;
    padding: 0 16px;
    background: #fff;
    border: 1px solid #cfd3db;
    box-sizing: border-box;
    border-radius: 4px
}

.bookingPage__tickets__item__collapse__booking__user button {
    background: #1ECB15;
    border-radius: 4px;
    padding: 11px 34px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #fff;
    border: none
}

.bookingPage__mobile__content {
    position: relative;
    background: #fff
}

.bookingPage__mobile__tickets__item__collapse__booking__user {
    display: none;
    padding: 8px
}

.bookingPage__mobile__tickets__item__collapse__booking__user>h4 span {
    margin-right: 15%
}

.bookingPage__mobile__tickets__item__collapse__booking__user>h4 {
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 19px;
    color: #232731;
    margin-bottom: 16px
}

.bookingPage__mobile__tickets__item__collapse__booking__user.active {
    position: absolute;
    top: 0;
    display: block;
    left: 0;
    background-color: #fff;
    width: calc(100% - 8px)
}

.bookingPage__mobile__tickets__item__collapse__booking__user .order-summary {
    background: #fff;
    margin-top: 40px;
    padding: 8px;
    box-shadow: 0 -1px 7px rgba(0, 0, 0, .05);
    border-radius: 16px 16px 0 0;
    display: flex;
    justify-content: space-between;
    align-items: center
}

.bookingPage__mobile__tickets__item__collapse__booking__user .order-summary p {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #464d5d;
    margin-bottom: 8px
}

.bookingPage__mobile__tickets__item__collapse__booking__user .order-summary h4 {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: #232731
}

.bookingPage__mobile__tickets__item__collapse__booking__user .order-summary button {
    background: #1ECB15;
    border-radius: 8px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #fff;
    height: 48px;
    padding: 0 16px;
    border: none
}

.bookingPage__mobile__tickets__item__collapse__booking__user .order-summary button i {
    margin-left: 16px
}

.bookingPage__mobile__tickets__item__collapse__booking__user .form_group {
    display: flex;
    flex-wrap: wrap;
    /* align-items: center */
}

.bookingPage__mobile__tickets__item__collapse__booking__user .form_group label {
    padding: 10px;
    width: 30%;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #464d5d;
    display: inline-block;
    margin-right: 8px
}

.bookingPage__mobile__tickets__item__collapse__booking__user .form_group input[type=number],
.bookingPage__mobile__tickets__item__collapse__booking__user .form_group input[type=text],
.bookingPage__mobile__tickets__item__collapse__booking__user .form_group select {
    width: calc(100% - 8px - 30%);
    border: 1px solid #cfd3db;
    box-sizing: border-box;
    border-radius: 4px;
    height: 40px;
    background-color: #fff;
    padding: 0 10px
}

.bookingPage__mobile__item label.error {
    font-weight: 700;
    margin-bottom: 5px;
    color: #dc3333;
    font-size: 13px;
    white-space: nowrap;
    margin-top: 5px;
    margin-left: calc(30% + 8px)
}

.bookingPage__mobile__item label.error:empty {
    display: none
}

.bookingPage__mobile__sort {
    padding: 0 16px;
    display: flex;
    height: 40px;
    align-items: center;
    background-color: #fff
}

.bookingPage__mobile__sort h4 {
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: #232731;
    margin-right: 24px;
    white-space: nowrap
}

.bookingPage__mobile__sort span {
    margin-left: 8px
}

.bookingPage__mobile__sort p {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    white-space: nowrap;
    line-height: 17px;
    display: flex;
    align-items: center;
    color: #464d5d;
    margin-right: 24px
}

.bookingPage__mobile__step {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #ecedf1;
    height: 33px
}

.bookingPage__mobile__step span {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #646d84;
    display: inline-block;
    height: 100%;
    line-height: 33px;
    padding: 0 16px
}

.bookingPage__mobile__head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #fff;
    box-shadow: 0 1px 7px rgba(0, 0, 0, .05);
    border-radius: 16px 16px 0 0;
    padding: 16px
}

.bookingPage__mobile__head__thumb {
    display: flex;
    align-items: center
}

.bookingPage__mobile__head__thumb>a {
    margin-right: 20px
}

.bookingPage__mobile__head__thumb h3 {
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    color: #232731;
    display: flex;
    align-items: center;
    margin-bottom: 8px
}

.bookingPage__mobile__head__thumb h3 span {
    margin: 0 8px
}

.bookingPage__mobile__head__thumb p {
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: #646d84
}

.bookingPage__mobile__tickets__item__collapse__booking__seat_map__total {
    display: flex;
    align-items: center;
    justify-content: space-between
}

.bookingPage__mobile__tickets__item__collapse__booking__seat_map__total a i {
    margin-left: 8px
}

.bookingPage__mobile__tickets__item__collapse__booking__seat_map__total a {
    background: #1ECB15;
    border-radius: 8px;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #fff;
    display: flex;
    height: 48px;
    align-items: center;
    padding: 0 16px
}

.bookingPage__mobile__tickets__item__collapse__booking__seat_map__total>p {
    display: flex;
    flex-direction: column;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #464d5d
}

.bookingPage__mobile__tickets__item__collapse__booking__seat_map__total p b {
    font-size: 18px;
    color: #232731
}

.bookingPage__mobile__tickets__item__collapse__booking__seat_map__total p span {
    margin-top: 8px
}

.bookingPage__mobile__tickets__item__collapse__booking__seat_map__total {
    background: #fff;
    box-shadow: 0 -1px 7px rgba(0, 0, 0, .05);
    border-radius: 16px 16px 0 0;
    padding: 16px
}

.bookingPage__mobile__tickets__item__collapse__booking__seat_map__note {
    display: flex;
    padding: 16px;
    flex-wrap: wrap
}

.bookingPage__mobile__tickets__item__collapse__booking__seat_map__note p span {
    margin-right: 8px;
    width: 25px
}

.bookingPage__mobile__tickets__item__collapse__booking__seat_map__note p b {
    width: calc(100% - 25px - 8px);
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #232731
}

.bookingPage__mobile__tickets__item__collapse__booking__seat_map__note p {
    display: flex;
    align-items: center;
    width: 30%;
    margin-right: 8px;
    margin-bottom: 8px;
    flex-wrap: wrap
}

.bookingPage__mobile__tickets__item__collapse__booking__seat_map__floor {
    overflow-x: auto
}

.bookingPage__mobile__tickets__item__collapse__booking__seat_map__floor h4 {
    background: #cfd3db;
    height: 35px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #232731;
    padding-left: 16px;
    display: flex;
    align-items: center
}

.bookingPage__mobile__tickets__item__collapse__booking__seat_map__floor table td {
    padding: 8px
}

.bookingPage__mobile {
    display: none
}

.bookingPage__mobile__item {
    background-color: #fff;
    padding: 8px 16px;
    border-bottom: 1px solid #cfd3db
}

.bookingPage__mobile__item__thumb__line {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 8px
}

.bookingPage__mobile__item__thumb__line>p {
    text-align: right
}

.bookingPage__mobile__item__thumb__line h3 {
    display: flex;
    flex-wrap: wrap;
    width: 65%
}

.bookingPage__mobile__item__thumb__line h3 span {
    width: 30%;
    margin-right: 8px;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: #232731
}

.bookingPage__mobile__item__thumb__line h3 p {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #464d5d;
    width: calc(100% - 30% - 8px)
}

.bookingPage__mobile__item__thumb__line h3 p b {
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    color: #646d84;
    margin-top: 8px;
    display: inline-block
}

.bookingPage__mobile__item__thumb__line h4 {
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    text-align: right;
    color: #00c48c
}

.bookingPage__mobile__item__toggle-detail {
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 13px;
    line-height: 16px;
    text-align: right;
    color: #646d84;
    margin-top: 8px
}

.bookingPage__mobile__item__toggle-detail span {
    margin-left: 5px
}

@media only screen and (max-width:1024px) {
    .bookingPage__mobile {
        display: block
    }
    .bookingPage {
        display: none
    }
}

.bookingPayment__mobile {
    /* display: none */
}

.bookingPayment__mobile .bookingPayment__method {
    flex-direction: column;
    padding: 16px;
    background-color: #fff
}

.bookingPayment__mobile .bookingPayment__method__item {
    width: 100%;
    margin-bottom: 6px
}

.bookingPayment__mobile .bookingPayment__info__wrap {
    background-color: #fff;
    padding: 16px
}

.bookingPayment__submit {
    display: flex;
    flex-wrap: wrap;
    padding: 16px 0;
    justify-content: space-between
}

.bookingPayment__mobile__submit {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 16px;
    margin-top: 40px;
    background: #fff;
    box-shadow: 0 -1px 7px rgba(0, 0, 0, .05);
    border-radius: 16px 16px 0 0;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 9999;
}

.bookingPayment__mobile__submit a {
    display: flex;
    background: #ecedf1;
    border-radius: 8px;
    height: 48px;
    width: 30%;
    align-items: center;
    justify-content: center;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #646d84;
    margin-right: 8px
}

.bookingPayment__mobile__submit button {
    background: #1ECB15;
    border-radius: 8px;
    height: 48px;
    width: calc(100% - 30% - 8px);
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #fff;
    border: none
}

@media only screen and (max-width:1000px) {
    .bookingPayment__mobile {
        display: block
    }
    .bookingPayment {
        display: none
    }
}

.bookingPayment__submit button {
    background: #1ECB15;
    border-radius: 4px;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: #fff;
    border: none;
    flex: 1 2 45%;
    min-height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 5px
}

.bookingPayment__submit a {
    background: #ecedf1;
    border-radius: 4px;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: #646d84;
    flex: 1 2 45%;
    min-height: 48px;
    display: flex;
    align-items: center;
    justify-content: center
}

.bookingPage__tickets__item__thumb__price.has-additionPrice del {
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 29px;
    text-align: right;
    color: #dc3333;
}

.bookingPage__tickets__item__thumb__price.has-additionPrice span {
    font-size: 20px;
}

.bookingPayment__ck__info,
.bookingPayment__note {
    margin-top: 16px
}

.bookingPayment__ck__info h4,
.bookingPayment__note h4 {
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: #dc3333;
    margin-bottom: 8px
}

.bookingPayment__ck__info p span,
.bookingPayment__note p span {
    color: #dc3333
}

.bookingPayment__ck__info p,
.bookingPayment__note p {
    font-style: normal;
    margin-bottom: 8px;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: #232731
}

.bookingPayment__info {
    background: #f1f3f5;
    border-radius: 8px;
    padding: 0 24px;
    padding-top: 10px;
    padding-top: 1rem;
    /* tương đương với py-4 */
    padding-bottom: 1rem;
}

.bookingPayment__info__item__line {
    border-bottom: 1px dashed #9198a9;
    margin: 16px 0
}

.bookingPayment__info__title__line {
    margin: 22px 0 16px 0
}

.bookingPayment__info__title__line h4 {
    border-bottom: 1px dashed #9198a9;
    margin-bottom: -12px
}

.bookingPayment__info__title__line span {
    background: #f1f3f5;
    font-style: normal;
    font-weight: 600;
    font-size: 19px;
    line-height: 19px;
    color: #232731;
    margin-bottom: 16px;
    padding: 0 16px 0 0
}

.bookingPayment__info__item {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 8px
}

.bookingPayment__info__item label {
    margin-right: 8px;
    width: 30%;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 19px;
    color: #646d84
}

.bookingPayment__info__item p {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 19px;
    color: #232731;
    width: calc(100% - 30% - 8px);
    margin-bottom: 8px
}

.bookingPayment__method {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap
}

.bookingPayment__method__item:hover {
    cursor: pointer
}

.bookingPayment__method__item.active>span {
    border-color: #1ECB15;
}

.bookingPayment__method__item.active>span::after {
    content: '.';
    background-color: #1ECB15;
    border-radius: 100%;
    width: 8px;
    height: 8px;
    color: transparent
}

.bookingPayment__method__item {
    display: flex;
    width: 48%;
    min-height: 80px;
    flex-wrap: wrap;
    background: #f1f3f5;
    border-radius: 8px;
    padding: 8px 11px;
    align-items: center;
    margin-bottom: 8px
}

.bookingPayment__method__item>span {
    display: inline-block;
    border: 2px solid #646d84;
    border-radius: 50%;
    width: 16px;
    height: 16px;
    padding: 2px;
    margin-right: 6px;
    display: flex;
    align-items: center;
    justify-content: center
}

.bookingPayment__method__item p {
    width: calc(100% - 6px - 16px);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between
}

.bookingPayment__method__item p span {
    margin-right: 5px
}

.bookingPayment__method__item p b {
    width: calc(100% - 57px - 5px);
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #232731
}

.bookingPayment__wrap {
    background-color: #fff;
    box-shadow: 0 1px 7px rgba(0, 0, 0, .05);
    border-radius: 0 0 8px 8px;
    padding: 16px
}

.bookingPage__step__item.success {
    background-color: #00c48c
}

.bookingPage__step__item.active {
    background-color: #1ECB15
}

.bookingPage__step__item.active span {
    color: #fff
}

.bookingSuccessPage--mobile__content {
    background-color: #fff;
    padding: 16px
}

.bookingSuccessPage--mobile .bookingSuccessPage__head {
    margin-bottom: 24px
}

.bookingSuccessPage--mobile .bookingSuccessPage__note {
    margin-top: 24px
}

@media only screen and (max-width:1000px) {
    .bookingSuccessPage--mobile {
        display: block
    }
    .bookingSuccessPage {
        display: none
    }
}

.countdown-trans {
    width: 80%;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    text-align: right;
    color: #232731;
    text-align: center;
    padding: 16px 8px;
    background: #ffc9cd;
    margin: 0 auto
}

.countdown-trans span {
    color: #dc3333
}

.bookingSuccessPage__content {
    padding-bottom: 80px
}

.bookingSuccessPage__content__wrap {
    background: #fff;
    padding-top: 16px;
    padding-right: 16px
}

.bookingSuccessPage__head {
    text-align: center
}

.bookingSuccessPage__head .avicon {
    margin-bottom: 16px
}

.bookingSuccessPage__head h3 {
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #232731
}

.bookingSuccessPage__note h4 {
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: #dc3333;
    margin-bottom: 8px
}

.bookingSuccessPage__note p {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #232731;
    margin-bottom: 16px
}

.bookingSuccessPage__ticket {
    background: #f1f3f5;
    border-radius: 8px;
    padding: 24px
}

.bookingSuccessPage__ticket__line {
    border-bottom: 1px solid #9198a9;
    margin: 16px 0
}

.bookingSuccessPage__ticket>h3 {
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    color: #ee2d24;
    padding-bottom: 8px;
    border-bottom: 1px solid #9198a9;
    margin-bottom: 16px
}

.bookingSuccessPage__ticket__item {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 8px
}

.bookingSuccessPage__ticket__item span {
    width: 30%;
    margin-right: 16px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #646d84
}

.bookingSuccessPage__ticket__item h4 b::after {
    content: ",";
    margin-right: 5px
}

.bookingSuccessPage__ticket__item h4 b:last-child::after {
    content: "";
    display: none
}

.bookingSuccessPage__ticket__item h4 {
    width: calc(100% - 30% - 16px);
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #232731
}

.bookingPage__tickets__item__collapse__booking__user .form_group .point_wrap {
    width: calc(100% - 8px - 30%);
}

.bookingPage__tickets__item__collapse__booking__user .form_group select {
    width: calc(100% - 8px - 30%);
    height: 40px;
    padding: 0 16px;
    background: #fff;
    border: 1px solid #cfd3db;
    box-sizing: border-box;
    border-radius: 4px;
}

.bookingPage__tickets__item__collapse__booking__user .form_group .point_wrap select {
    margin-bottom: 8px
}

.bookingPage__tickets__item__collapse__booking__user .form_group .point_wrap select,
.bookingPage__tickets__item__collapse__booking__user .form_group .point_wrap textarea {
    width: 100%;
}

.bookingPage__tickets__item__collapse__booking__user .form_group .point_wrap textarea {
    display: none;
}

.bookingPage__tickets__item__collapse__booking__user .form_group textarea {
    height: 60px;
    padding: 5px;
}

.bookingPage__mobile__tickets__item__collapse__booking__user .form_group textarea {
    width: calc(100% - 8px - 30%);
    border: 1px solid #cfd3db;
    box-sizing: border-box;
    border-radius: 4px;
    background-color: #fff;
    padding: 0 10px;
}

.bookingPage__mobile__tickets__item__collapse__booking__user .form_group .point_wrap {
    width: calc(100% - 8px - 30%);
}

.bookingPage__mobile__tickets__item__collapse__booking__user .point_wrap select {
    margin-bottom: 8px;
}

.bookingPage__mobile__tickets__item__collapse__booking__user .point_wrap select,
.bookingPage__mobile__tickets__item__collapse__booking__user .point_wrap textarea {
    width: 100%;
}

.bookingPage__mobile__tickets__item__collapse__booking__user .point_wrap textarea {
    display: none;
}

.outline-0:focus,
.outline-0 {
    outline: none;
}

.pushy-submenu button:hover,
.box-pushy button {
    color: #333
}

.box-pushy a {
    display: flex;
    align-items: center;
    color: #333
}

.box-pushy a span {
    margin-right: 8px
}

.ck-widget__resizer {
    display: none
}

figure.image.ck-widget.ck-widget_with-resizer {
    margin: 0 auto;
}

.form_group {
    margin-bottom: 1rem;
}

.text_danger {
    color: #dc3545!important;
}

.showSeatId {
    display: none!important
}

.avseatmap .avseat:hover {
    cursor: pointer
}

.required {
    color: #dc3333
}

.avicon {
    display: inline-block
}


/* .searchTicket {
    width: 100%;
    display: flex;
    justify-content: space-between
}

.searchTicket select {
    display: none
}

.searchTicket__item {
    padding: 5px;
    display: flex;
    margin-right: 10px;
    width: 22%;
    position: relative;
    overflow: hidden
}

.searchTicket__item:hover {
    cursor: pointer
}

.searchTicket__item__left {
    margin-right: 13px
} */