.feedback-container {
    /* max-width: 800px; */
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.feedback-card {
    display: flex;
    align-items: center;
    padding: 15px;
    margin-bottom: 15px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.user-avatar img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 15px;
    border: 2px solid #ddd;
}

.feedback-content {
    flex: 1;
}

.user-name {
    margin: 0;
    font-size: 16px;
    font-weight: bold;
    color: #333;
}

.user-feedback {
    margin: 5px 0 0;
    font-size: 14px;
    color: #555;
}